# macOS system files
.DS_Store

# LaTeX auxiliary files
*.aux
*.log
*.out
*.synctex.gz
*.fls
*.fdb_latexmk

# Python / Jupyter
__pycache__/
*.pyc
.ipynb_checkpoints/

# Brew backups
Brewfile.bak

# Misc cache
*.tmp
*.bak
# macOS Finder files
.DS_Store
texmf/.DS_Store
texmf/bibtex/.DS_Store
texmf/bibtex/bib/.DS_Store
texmf/tex/.DS_Store
texmf/tex/FredTexDefinitions/.DS_Store
